jupyter
pandas
scikit-learn 
scipy
matplotlib
seaborn
ipykernel
duckdb
sankeyflow
statsmodels
import-ipynb
requests
pingouin
forestplot
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
markdown-pdf
pypandoc
gitpython
simpledorff
